<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My web</title>
</head>
<body>
<ul>
{{range .T1}}
<li>{{.First}} - {{.Last}}</li>
{{end}}
</ul>
<ul>
{{range .T2}}
<li>{{.Years}}</li>
{{end}}
</ul>
</body>
</html>